body{
  font-family: ubuntu;
}

h1{
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  margin-top: 80px;
  text-align: center;
}

.content{
  background: #fff;
  max-width: 500x;
  margin: 30px auto;
  padding:  20px 30px;
  border-radius: 10px 120px 10px 10px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  padding: 5px;
  background: #f6f6f6;
  font-size: 20px;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 46px;
}

li:nth-child(even){
  padding-left: 5px;
  background: #f2f2f2;
}

li span:nth-child(5){
  padding-left:140px;
}
li span:nth-child(6){
  padding-left:120px;
}
li span:nth-child(7){
  padding-left:120px;
}

li button{
  position: relative;
  margin-left:140px;
  border: 0;
  background: rgb(23, 204, 17);
  border-radius: 10px;
  padding: 15px;
  width: 5%;
  box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
  font-weight: bold;
  font-family: ubuntu;
  letter-spacing: 1px;
  color: #999;
}

li span{
  display: inline;
  padding: 40px;
}

li span:nth-child(2){
  font-size: 16px;
  margin-top: 6px;
  color: #999;
}

li div{
  position: absolute;
  top: 0;
  right: 0px;
  background: rgba(255,255,255,0.6);
  width: 40px;
  text-align: center;
  padding: 10px 0;
  font-weight:  bold;
  cursor:  pointer;
}

form input{
  float: left;
  width: 38%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
}

form input:focus{
  outline: none;
  border-bottom: 3px solid #88236f;
  padding-bottom: 8px;
  transition: all ease 0.2s;
}

form:after{
  content: '';
  clear: both;
  display: block;
}


.bar-chart {
  background-color: #C7D9D9;
  }

label{
  padding-left:55px;

}
input{
  padding: 10px;
  position: relative;
}


#myDiv {
  margin: 0 auto;
  border: 1px solid black;
  height: 85vh;
  min-height: 300px;
}
#myDiv1 {
  margin: 0 auto;
  border: 1px solid black;
  height: 85vh;
  min-height: 300px;
} 